# Dependency directories/Dist files
node_modules/
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test


# Dist folders
dist

# Macbook store files
.DS_Store

# Spesific to this project 
# (the uploads file? no one needs to see what nasty images you uploaded during dev)
uploads/

# Other
*.log
.vscode
test/
