block content
    link(rel="stylesheet", href="css/Skybox.css")
    link(rel="stylesheet", href="css/Index.css")
    #canvas
    #overlay
        .landing 
            h1 img
            p Welcome to img
        .upload 
            form(method='post')
                //- #display
                label(for="uploader") Drag your files here or click in this area.
                input#uploader(multiple type="file")
    script(type="module" src="js/Skybox.js")
    script(src="js/uploader.js")