block content
    link(rel="stylesheet", href="css/Skybox.css")
    link(rel="stylesheet", href="css/Index.css")
    #canvas
    #overlay
        .landing 
            h1 img
            p Welcome to img
        .upload 
            form(method='post')
                input(type="file")
                p Drag your files here or click in this area.
    script(type="module" src="js/Skybox.js")