extends ../base/base

block poststyles 
    link(rel="stylesheet", href="css/Skybox.css")
    link(rel="stylesheet", href="css/Index.css")

block content
    #canvas
    #overlay
        .landing 
            h1 img
            p Welcome to img
        .upload 
            form(method='post')
                //- #display
                label(for="uploader") Drag your files here or click in this area.
                input#uploader(multiple type="file" accept="image/*" max="5000000")
    
block postscripts
    script(type="module" src="js/Skybox.js")
    script(src="js/Uploader.js")