extends ../base/base

block poststyles 
    //- link(rel="stylesheet", href="css/Skybox.css")
    link(rel="stylesheet", href="css/Index.css")
    link(rel="stylesheet", href="css/Upload.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css", type="text/css")

block content
    #canvas
    #overlay
        .landing 
            h1 img
            p Welcome to img
        include ../partials/auth
        include ../partials/upload
    
block postscripts
    //- script(type="module" src="js/Skybox.js")
    script(src="https://cdn.tailwindcss.com")
    script(src="js/Uploader.js")