extends ../base/base

block poststyles 
    //- link(rel="stylesheet", href="css/Skybox.css")
    link(rel="stylesheet", href="css/Index.css")

block content
    #canvas
    #overlay
        .landing 
            h1 img
            p Welcome to img
        .file__upload
            input#file__upload__input(multiple type="file" accept="image/*" max="5000000")
            #file__upload__overlay
                img(src="/img/uploading.png", loading="eager", alt="", srcset="").uploading
                label Drag your files here
                .divider 
                    div 
                    | OR
                    div
                button(type="button") Click to Upload
    
block postscripts
    //- script(type="module" src="js/Skybox.js")
    script(src="js/Uploader.js")