extends ../base/base

//- This whole page needs fixing, head no worky atm.
//- it does work, needs styling tho

mixin Post(id, images)
    .post 
        .images 
            each image in images
                img(src="/uploads/" + image)


block poststyles 
    link(rel="stylesheet", href="css/Post.css")

block content
    +Post(postID, images)


block postscripts
    script(src="js/Post.js")