extends ../../base/base.pug

block content
    link(rel="stylesheet", href="css/Skybox.css")
    link(rel="stylesheet", href="css/Index.css")
    #canvas
    #overlay
        .landing 
            h1 404
            h2 Page not found
            h3 It looks like you found a glitch in the matrix...
            a.link-button(href="/") ← Back to Main Page
        
    script(type="module" src="js/Skybox.js")