:host,
:root {
    --color-primary-light: rgb(3, 255, 167);
    --color-primary-dark: rgb(50, 120, 95);

    // --color-secondary-light: rgba(50, 50, 50, 0.95);
    // --color-secondary-dark: rgba(50, 50, 50, 0.95);

    --color-background-light: rgb(50, 50, 50);
    --color-background-dark: rgb(50, 50, 50);

    --color-text: #ffffff;
    --color-text-secondary: #ffffff;
}
