#overlay {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  // pointer-events: none;
  color: white;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  align-content: center;
  grid-gap: 1em;

  .landing {
    display: grid;
    place-items: center;
    text-align: center;

    h1 {
      font-size: 3.5rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
      margin: 0;
    }
  }
}
