#overlay {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  font-family: "Verdana", sans-serif;
  // pointer-events: none;
  color: white;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  align-content: center;
  grid-gap: 1em;

  .landing {
    display: grid;
    place-items: center;
    text-align: center;

    h1 {
      font-size: 3.5rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
      margin: 0;
    }
  }

  .file__upload {
    width: 500px;
    height: 250px;
    border: 4px solid rgba(50, 50, 50, 0.95);
    background-color: rgba(50, 50, 50, 0.95);
    border-radius: 10px;
    grid-template-rows: auto 0px;

    #file__upload__input {
      height: inherit;
      width: inherit;
      position: absolute;
      display: grid;
      text-align: center;
      opacity: 0;
      z-index: 10;
    }

    #file__upload__overlay {
      height: 100%;
      width: inherit;
      position: relative;
      display: grid;
      text-align: center;
      grid-template-rows: 1fr min-content 1fr;
      place-items: center;

      .divider {
        width: 90%;
        display: flex;
        align-items: center;
        gap: 1em;
        opacity: 0.75;

        div {
          width: 100%;
          height: 1px;
          background: #fff;
          margin: 0 auto;
        }
      }

      button {
        color: #fff;
        background: var(--color-primary-light);
        border: none;
        padding: 1em;
        box-sizing: border-box;
        transition: all 0.2s ease;

        &:hover {
          background: var(--color-primary-dark);
        }

        &:active {
          border: 0;
        }
      }

      .uploading {
        display: none;
      }

      &.active {
        .divider,
        button,
        label {
          display: none;
        }

        .uploading {
          display: grid;
          place-items: center;
          text-align: center;
          height: inherit;
          width: inherit;

          background: url("/img/uploading.png") no-repeat center center;
        }

        grid-template-rows: auto;
      }
    }
  }
}
