#content {
    grid-template-columns: 2fr 1fr;
    place-items: unset;
}

.post {
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    grid-column: 1;
    grid-template-columns: auto max-content;

    .images {
        width: 100%;
        grid-column: 1;
        display: grid;
        place-items: center;
        grid-gap: 1em;
        grid-template-rows: repeat(auto-fill, 512px);
        grid-template-columns: repeat(auto-fill, 512px);

        img {
            max-width: 512px;
            max-height: 512px;
        }
    }

    .info {
        .title {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
        }

        .description {
            font-size: 1rem;
            margin: 0;
        }

        .author {
            font-size: 0.75rem;
            margin: 0;

            &::before {
                content: "By ";
            }
        }
    }
}
