body {
    display: grid;
    place-items: center;
}

.post {
    display: grid;
    place-items: center;
    .images {
        display: grid;
        place-items: center;
        grid-gap: 1em;
        grid-template-rows: repeat(2, auto);

        img {
            max-width: 512px;
            max-height: 512px;
        }
    }
}
